In [1]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
df=pd.read_csv("data\GroceryStoreDataSet.csv",header=None)

In [3]:
df

                                 0
0               MILK,BREAD,BISCUIT
1    BREAD,MILK,BISCUIT,CORNFLAKES
2              BREAD,TEA,BOURNVITA
3             JAM,MAGGI,BREAD,MILK
4                MAGGI,TEA,BISCUIT
5              BREAD,TEA,BOURNVITA
6             MAGGI,TEA,CORNFLAKES
7          MAGGI,BREAD,TEA,BISCUIT
8              JAM,MAGGI,BREAD,TEA
9                       BREAD,MILK
10  COFFEE,COCK,BISCUIT,CORNFLAKES
11  COFFEE,COCK,BISCUIT,CORNFLAKES
12          COFFEE,SUGER,BOURNVITA
13               BREAD,COFFEE,COCK
14             BREAD,SUGER,BISCUIT
15         COFFEE,SUGER,CORNFLAKES
16           BREAD,SUGER,BOURNVITA
17              BREAD,COFFEE,SUGER
18              BREAD,COFFEE,SUGER
19      TEA,MILK,COFFEE,CORNFLAKES

In [8]:
items=[]
for i in df.values:
    items.extend( i[0].split(",")  )
items=list(set(items))
items

['CORNFLAKES',
 'JAM',
 'MILK',
 'BOURNVITA',
 'MAGGI',
 'TEA',
 'BREAD',
 'SUGER',
 'BISCUIT',
 'COFFEE',
 'COCK']

In [9]:
df1=pd.DataFrame(data=0,columns=items,index=range(len(df)))
df1

,CORNFLAKES,JAM,MILK,BOURNVITA,MAGGI,TEA,BREAD,SUGER,BISCUIT,COFFEE,COCK
0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,0

In [11]:
for i in df1.columns:
    df1[i] = df[0].str.contains(i)
#     df1[i]=a[0].apply(lambda x: int(i in x)) >> to change to numeric
df1

# Another way To Create with 1 and 0
# row=0
# for i in df.values:
#     for j in df1.columns:
#         if j in i[0].split(","):
#             df1[j][row]=1
#     row+=1

,CORNFLAKES,JAM,MILK,BOURNVITA,MAGGI,TEA,BREAD,SUGER,BISCUIT,COFFEE,COCK
0,False,False,True,False,False,False,True,False,True,False,False
1,True,False,True,False,False,False,True,False,True,False,False
2,False,False,False,True,False,True,True,False,False,False,False
3,False,True,True,False,True,False,True,False,False,False,False
4,False,False,False,False,True,True,False,False,True,False,False
5,False,False,False,True,False,True,True,False,False,False,False
6,True,False,False,False,True,True,False,False,False,False,False
7,False,False,False,False,True,True,True,False,True,False,False
8,False,True,False,False,True,True,True,False,False,False,False
9,False,False,True,False,False,False,True,False,False,False,False
10,True,False,False,False,False,False,False,False,True,True,True
11,True,False,False,False,False,False,False,False,True,True,True
12,False,False,False,True,False,False,False,True,False,True,False
13,False,False,False,False,False,False,True,False,False,True,True
14,False,False,False,False,False,False,True,True,True,False,False
15,True,False,False,False,False,False,False,True,False,True,False
16,False,False,False,True,False,False,True,True,False,False,False
17,False,False,False,False,False,False,True,True,False,True,False
18,False,False,False,False,False,False,True,True,False,True,False
19,True,False,True,False,False,True,False,False,False,True,False

In [12]:
freq=apriori(df1, min_support = 0.2, use_colnames = True)

In [13]:
freq

    support              itemsets
0      0.30          (CORNFLAKES)
1      0.25                (MILK)
2      0.20           (BOURNVITA)
3      0.25               (MAGGI)
4      0.35                 (TEA)
5      0.65               (BREAD)
6      0.30               (SUGER)
7      0.35             (BISCUIT)
8      0.40              (COFFEE)
9      0.20  (CORNFLAKES, COFFEE)
10     0.20         (MILK, BREAD)
11     0.20          (MAGGI, TEA)
12     0.20          (TEA, BREAD)
13     0.20        (SUGER, BREAD)
14     0.20      (BREAD, BISCUIT)
15     0.20       (SUGER, COFFEE)

In [26]:
association_rules(freq, metric = "lift", min_threshold = 1).sort_values(by=['antecedent support','consequent support'],ascending=False).reset_index(drop=True)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(BREAD),(SUGER),0.65,0.30,0.2,0.307692,1.025641,0.0050,1.011111
1,(BREAD),(MILK),0.65,0.25,0.2,0.307692,1.230769,0.0375,1.083333
2,(COFFEE),(CORNFLAKES),0.40,0.30,0.2,0.500000,1.666667,0.0800,1.400000
3,(COFFEE),(SUGER),0.40,0.30,0.2,0.500000,1.666667,0.0800,1.400000
4,(TEA),(MAGGI),0.35,0.25,0.2,0.571429,2.285714,0.1125,1.750000
5,(SUGER),(BREAD),0.30,0.65,0.2,0.666667,1.025641,0.0050,1.050000
6,(CORNFLAKES),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.800000
7,(SUGER),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.800000
8,(MILK),(BREAD),0.25,0.65,0.2,0.800000,1.230769,0.0375,1.750000
9,(MAGGI),(TEA),0.25,0.35,0.2,0.800000,2.285714,0.1125,3.250000